@model List<ProductViewModel>
@using Model.Object;
@using Model.ViewModel;
@{
    ProductCategory category = (ProductCategory)ViewBag.Category;
    ViewBag.Title = category.Name;
    ViewBag.Keywords = category.MetaKeywords;
    ViewBag.Descriptions = category.MetaDescriptions;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>@category.ID . @category.Name</h3>
        </div>
        <div class="see">
            <p><a href="#">See all Products</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (ProductViewModel item in Model)
        {
            string link = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@link"><img src="@item.Images" alt="" /></a>
                <h2>@item.ID . @item.Name</h2>
                <span>@item.CateName</span>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Contact")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/them-gio-hang?productId=@item.ID&quantity=1">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
        <div class="clear"></div>

        <!-- Phân trang -->
        @if (ViewBag.TotalPage > 0)
            {
                int pageDisplay = (int)ViewBag.MaxPage;
                int totalPage = (int)ViewBag.TotalPage;
                int currentPage = (int)ViewBag.Page;

                // Create numeric links
                int startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                int endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                string link = "/san-pham/" + category.MetaTitle + "-" + category.ID;
            <nav>
                <ul class="pagination">
                    @if (currentPage > ViewBag.First) // đầu
                    {
                        <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                        <li>
                            <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                        </li>
                    }
                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (currentPage == i)
                        {

                            <li class="active"> <a href="@link?page=@i" title="Trang @i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                        }
                    }
                    @if (currentPage < totalPage) // cuối
                    {
                        <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                        <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                    }
                </ul>
            </nav>
        }
        else
        {
            <span>Không có bản ghi nào</span>
        }
    </div>
</div>
